/*Home*/

/*Authors*/

.author__info p{
    margin-top: 1rem;
}

.author__avatar{
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    width: 5rem;
}

.authors__container{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
}

.author:hover{
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.07) ;
}

.author{
    padding: 1rem;
    background: var(--color-white);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
    border-radius: var(--radius-3);
}



/*Post Detail*/

.post-detail p{
    margin-bottom:  0.7rem;
}

.post-detail__header{
    margin-bottom: 1.5rem;
    justify-content: space-between;
    display: flex;
}

.post-detail__thumbnail{
    margin: 1rem 0;
    overflow: hidden;
    max-height: 30rem;
    height: fit-content;
}

.post-detail{
    width: var(--form-width);
    padding: 2rem 0;
    margin-inline: auto;
    background: var(--color-white);
}

.post-detail__buttoms{
    align-items: center;
    gap: 1rem;
    display: flex;
}



/*Post*/

.post__content{
    margin-top: 1.5rem;
}

.post:hover{
    box-shadow: 0 1.5rem 2rem rgb(0, 0, 0, 0.1);
}

.post__thumbnail{
    border-radius: var(--radius-3);
    height: 16rem;
    overflow: hidden;
}


.post {
      border-radius: var(--radius-4);  
      padding: 1rem;
      transition: var(--transition);
      padding-bottom: 2rem;   
      cursor: default;
      background: var(--color-white);
}

.post__author{
    gap: 1rem;
    align-items: flex-start;
    display: flex;
}


.post__content h3{
    margin: 1rem 0 0.6rem ;
}


.post__author-avatar{
    border-radius: var(--radius-2);
    aspect-ratio: 1/1;
    overflow: hidden;
    width: 2.5rem;

}



.posts__container{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 4rem;
    
}

.post__footer {
    justify-content: space-between;
    display: flex;
    margin-top: 2rem;
    align-items: flex-end;
}


/*Profile related*/

.form.profile__form{
    margin-inline: auto ;
    width: var(--form-width);
    margin-top: 3rem;
}


.profile__details h1{
    margin-top: 1.5rem;
}

.profile__avatar-btn{
    padding: 0;
    cursor: pointer;
    background: var(--color-primary);
    font-size: 2rem;
}

.avatar__form label, .profile__avatar-btn{
    color: var(--color-white);
    background: var(--color-gray-900);
    position: absolute;
    font-size: 1.2rem;
    bottom: 1.4rem;
    display: grid;
    border-radius: 50%;
    place-items: center;
    width: 3rem;
    height: 3rem;
    right: 2rem;
}

.avatar__form input {
    visibility: hidden;
}

.profile__avatar{
    overflow: hidden;
    border: 1rem solid var(--color-white);
    height: 100%;
    border-radius: 50% ;
}

.avatar__wrapper{
    margin-inline: auto;
    margin-top: 1rem;
    aspect-ratio: 1/1;
    width: 15rem;
    position: relative;
}


.profile__container {
    place-items: center;
    text-align: center;
    display: grid;
}

.profile__details{
    width: 100%;
}




/*Error*/

.center{
    text-align: center;
    padding-top: 5rem;
    margin-inline: center;
    display: block;
    width: 100%;
}


.error-page h2 {
    margin-top: 3rem;
}


/*Register*/

.login h2, .register h2, .create-post h2 {
    margin-bottom: 2rem;
}

.register small a, .login small a{
    color: var(--color-primary);
}

.register small, .login small{
    margin-top: 1.5rem;
    display: block;
}



.login, .register, .create-post {
    height: calc(100vh - 12rem);
    place-items: center;
    margin-inline: auto;
    display: grid;
    place-items: center;
    width: var(--form-width);
    display: grid;
}

select, textarea, input{
    border-radius: var(--radius-1);
    resize: none;
    padding: 0.6rem 1rem;
    width: 100%;
}


.form{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}

.form__error-message{
    display: block;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    background: var(--color-red);
    font-size: 0.8rem;
    border-radius: var(--radius-1);
    color: var(--color-white);
}


/*Under*/

.footer__copyright{
    color: var(--color-white);
    text-align: center;
    padding: 1rem;
    border-top: 2px solid var(--color-gray-700);
    font-weight: 300;
}

.footer__categories a{
    background: var(--color-gray-700);
    padding: 0.6rem 1.4rem;
    transition: var(--transition);
    border-radius: var(--radius-2);
    color: var(--color-white);
}

.footer__categories a:hover{
    background: var(--color-white);
    color: var(--color-gray-900);
} 


footer{
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer__categories{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: center;
    gap: 1.5rem;
}




a{
    color: var(--color-gray-700);
    text-decoration: none;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    color: var(--color-gray-900);
  
}

h1{
    font-size: 2.2rem;
}


h2{
    font-size: 1.9rem;
}

h3{
    line-height: 1.25;
    font-size: 1.3rem;
}

h4{
    font-size: 1.1rem;
}


h5{
    font-size: 1.7rem;
}

section{
    margin-top: 6rem;
}

.btn.danger{
    color: var(--color-white);
    background: var(--color-red);
}

.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-white);
}


.btn.sm{
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn-primary{
    color: var(--color-white);
    background: var(--color-primary);
}


.btn.category{
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-primary);
    background: var(--color-bg);
}

.btn{
    width: fit-content;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    background: var(--color-white);
    border-radius: var(--radius-2);
}


.container{
    width: var(--container-width-lg);
    margin-inline: auto;
}


:root{
    
--color-primary: #6f6af8; 
--color-gray-100: hsl(220, 20%, 10%, 5% );
--color-gray-200: hsl(220, 20%, 10%, 10%); 
--color-gray-300: hsl(220, 20%, 10%, 25%);
--color-gray-500: hsl(220, 20%, 10%, 50%);
--color-gray-700: #252542;
--color-gray-900: #0c0c22;
--color-red: red;
--color-white: white;
--color-bg: hwb(240 95% 0%);
--transition: all 300ms ease;
--container-width-lg: 84%;
--container-width-md: 92%;
--form-width: 50%;
--radius-1: 0.3rem;
--radius-2: 0.6rem;
--radius-3: 1rem;
--radius-4: 2rem;
   
}


img{
    display: block;
    object-fit: cover;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--color-gray-700);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;  
}

/*Top part*/

.nav__toggle-btn{
    display: none;
}

.nav__menu{
    gap: 3rem;
    align-items: center;
    display: flex;
}

.nav__container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 5rem;
    display: block;
}

nav{
    height: 5rem;
    place-items: center;
    display: grid;
    background: var(255, 255, 255, 0.5);
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    border-bottom: 4px solid var(--color-bg);
    z-index: 1;
}